/* global */

body {
    font-family: 'Raleway';
}

section {
    margin: 2.5% 0;
    float: left;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 2.5%;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: solid 1px #444;
    padding-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 2.5%;
    color: #444;
    font-style: italic;
}

input[type="text"] {
    padding: 12px;
    font-size: 16px;
    width: 75%;
    border: solid 1px #888;
    border-radius: 3px;
    margin-bottom: 2.5%;
}

button {
    background: #444;
    color: #fff;
    border: none;
    padding: 14px;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 2%;
    border-radius: 3px;
    width: 18%;
}

/* custom */

header {
    background: #888;
}

header > div {
    max-width: 960px;
    margin: 0 auto;
}

header > div img {
    margin: 15px 0;
}

main {
    max-width: 960px;
    margin: 2.5% auto;
}

.tasks li {
    padding: 12px;
}

.tasks li .item {
    display: block;
    float: left;
    width: 76.5%;
    margin-top: 15px;
}

.completed-tasks li span.item {
    display: block;
    width: 100%;
    margin-bottom: 25px;
}

.remove {
    display: block;
    float: left;
    width: 23px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #f00;
    color: #fff;
    border-radius: 3px;
    margin-top: 12px;
}

.complete-all {
    margin-top: 25px;
    width: 50%;
    float: right;
}

/* responsive styles */

@media (max-width: 960px) {

    header div {
        margin: 0 2.5%;
    }

    main {
        margin: 0 2.5%;
    }

    input[type="text"] {
        width: 100%;
        box-sizing: border-box;
    }

    .tasks li {
        padding: 0px;
    }

    .tasks li .item {
        width: 100%;
        margin-bottom: 2.5%;
    }

    section button {
        width: 100%;
        margin-left: 0px;
    }

    .remove {
        display: none; /* DEV ONLY */
     }

}
