<div class="status-bar" ng-init='search = { done: false }'>

    <input type="text"
           class="search-box"
           placeholder="Search"
           ng-model="search.description">

    <ul class='status'
        ng-init="statuses = {
            All: undefined,
            Done: true,
            Remaining: false
        }">

        <li ng-repeat="( label, value ) in statuses">

            <label ng-class="{ selected: value === search.done }">
                {{label}}:<input type='radio' ng-model="search.done" ng-value='value'>
            </label>

        </li>
    </ul>
</div>
