// colors

$body-bg: #CCC;
$black: #000;
$white: #FFF;
$red: #FF3D2C;
$peach: #FFBE79;
$grey: #444;

// fonts

$f-stack-std: 'Play';
$f-stack-secondary: 'PT Sans';

// brand specific

$brand-primary: #4D697F;
$brand-secondary: #9AD2FF;

// buttons

$btn-primary: #21667F;
$btn-secondary: #213E7F;

// msg

$error-msg: #BF2010;
$success-msg: #347F52;
$std-msg: #383433;

// grid

$gutter: 2.5%;
$bp-large: 960px;
$bp-small: 768px;