<!DOCTYPE html>
<html ng-app="Todo">
<head>
    <title>Task Fellows</title>
    <link href='https://fonts.googleapis.com/css?family=Play|PT+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <div class="inner">
            <img src="/assets/img/logo.png" alt="logo">
        </div>
        <div class="info-bar">Task Fellows!  The definitive task tool.</div>
    </header>

    <main ng-controller="TaskCtrl">
        <section role="welcome">
            <p class="msg">Use our simple interface to create new tasks, update old tasks, and <em>keep your life in balance.</em></p>
        </section>

        <section role="add-task">
            <form>
                <input type="text" placeholder="Enter Task Description" ng-model="taskName" value="">
                <button type="submit"><span>Add Task</span></button>
            </form>
        </section>


        <section class="current-tasks">
            <h3>Current Tasks </h3>
            <!-- ☹ note to future dev's - had to remove a bunch of br tags from this section ☹ -->
            <div class="status-bar">
                <input type="text" class="search-box" placeholder="Search" ng-model="search.description">
                <label>All: <input type='radio' ng-model="search.done" ng-value='undefined'></label>
                <label>Done: <input type='radio' ng-model="search.done" value='true'></label>
                <label>Remaining:<input type='radio' ng-model="search.done" value='false'></label>
            </div>
            <ul class="tasks">
                <li data-idx="{{ $index }}"
                    ng-repeat="task in tasks | filter:search">
                    <span class="item">{{ task.description }}</span>
                    <span class="created">{{ task.created | moment }}</span>
                    <span class="remove">X</span>
                    <button><span>Complete Task</span></button>
                </li>
            </ul>
        </section>

        <section class="completed-tasks">
            <h3>Completed Tasks</h3>
            <ul class="tasks">
                <li ng-repeat="task in tasks | filter: { done: true }">
                    <span class="item">{{ task.description }}</span>
                    <span class="remove">X</span>
                </li>
            </ul>
            <button class="complete-all"><span>Remove All Completed Tasks</span></button>
        </section>
    </main>

    <footer></footer>

    <script type="text/javascript" src="bundle.js"></script>

<!--
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'></script>
    <script type="text/javascript" src="/controllers/controller.js"></script>
    <script type="text/javascript" src="/filters/moment.js"></script>
    <script type="text/javascript" src="/assets/js/completed-tasks.js"></script>
-->
</body>
</html>
