<div class="settings-sidebar"><img src="/assets/img/gear.png"></div>

<section role="welcome">
    <p class="msg">
        Use our simple interface to create new tasks, update old tasks, and <em>keep your life in balance.</em>
    </p>
</section>

<section role="add-task">
    <form ng-submit="add()">
        <input type="text" placeholder="Enter Task Description" ng-model="taskName" value="">
        <button type="submit"><span>Add Task</span></button>
    </form>
</section>

<section class="current-tasks">
    <h3>Current Tasks </h3>
    <!-- ☹ note to future dev's - had to remove a bunch of br tags from this section ☹ -->
    <div class="status-bar" ng-init="search = { done: false }">
        <div>
            <input type="text" class="search-box" placeholder="Search" ng-model="search.description">
        </div>
        <ul class="statuses"
            ng-init="statuses = {
                All: undefined,
                Done: true,
                Remaining: false
            }">
        <li class="status" ng-repeat="( label, value ) in statuses">
        <label ng-class="{ selected: value === search.done }">{{label}}:
            <input type='radio' ng-model="search.done" ng-value='value'>
        </label>
        </li>
        </ul>
    </div>

    <ul class="tasks">
        <li ng-repeat="task in tasks | filter:search">
            <span class="item">{{ task.description }}</span>
            <span class="created">{{ task.createdAt | moment }}</span>
            <span ng-click="remove(task)" class="remove">X</span>
            <button ng-click="complete(task)"><span>Complete Task</span></button>
        </li>
    </ul>
</section>

<section class="completed-tasks">
    <h3>Completed Tasks</h3>
    <ul class="tasks">
        <li ng-repeat="task in tasks | filter: { done: true }">
            <span class="item">{{ task.description }}</span>
            <span class="remove">X</span>
        </li>
    </ul>
    <button ng-click='removeCompleted()' class="complete-all"><span>Remove All Completed Tasks</span></button>
</section>
