section[role="add-task"] {
    margin-bottom: 0px;
}

.tasks li {
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;

    .created {
        display: block;
        float: left;
        margin-top: 15px;
        margin-right: 30px;
        color: #888;
    }

    .item {
        display: block;
        float: left;
        width: 60%;
        margin-top: 15px;
        color: $success-msg;
        font-weight: bold;
    }
}

.completed-tasks span.item {
    display: block;
    width: 96%;
    margin-bottom: 25px;
}

.remove {
    display: block;
    float: left;
    width: 23px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    background: $btn-secondary;
    color: $white;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 12px;
    transition: 350ms all;

    &:hover {
        background: $red;
    }
}

.complete-all {
    margin-top: 25px;
    margin-left: 0px;
    width: 50%;
}
