/* this file should be refactored again into smaller breakpoints and sections */

@media (max-width: $bp-large) {
    h3 {
        margin-top: 30px;
    }

    header {
        .inner {
            img {
                margin: 15px 2.5%;
            }
        }
    }

    header div {
        margin: 0 2.5%;
    }

    main {
        margin: 0 2.5%;
    }

    input[type="text"] {
        width: 100%;
        box-sizing: border-box;
    }

    .tasks li {
        padding: 0px;

        .item {
            width: 100%;
            margin-bottom: 2.5%;
        }
    }

    section button {
        width: 100%;
        margin-left: 0px;
    }

    .remove {
        display: none; /* dev only */
     }

     .info-bar {
        margin: 0;
     }

     .status-bar {
        .search-box {
            width: 36%;
        }
     }

     .complete-all {
        width: 100%;
     }
}
