header {
    background: $black;
    position: fixed;
    width: 100%;

    > .inner {
        max-width: $bp-large;
        margin: 0 auto;

        img {
            margin: 15px 0;
            width: 120px;
        }
    }
}

footer { /* dev only - content needed before styles */
    float: left;
    height: 150px;
    width: 100%;
    margin-top: 100px;
    background: #444;
}

main {
    max-width: $bp-large;
    margin: 0 auto;
    padding-top: 115px;

    section {
        margin: $gutter 0;
        float: left;
        width: 100%;
    }
}