header {
    background: $black;
    position: fixed;
    width: 100%;

    > .inner {
        max-width: $bp-large;
        margin: 0 auto;
        position: relative;

        .logo {
            margin: 15px 0;
            width: 120px;
        }

        .mobile-icon {
            display: none;
        }
    }
}

/* dev only - content needs to be added before this can be accurately styled */

footer {
    float: left;
    height: 150px;
    width: 100%;
    margin-top: 100px;
    background: $grey;

    div {
        max-width: $bp-large;
        position: relative;
        margin: 0 auto;
        height: 150px;

        span {
            position: absolute;
            bottom: 15px;
            color: $body-bg;
            font-size: 12px;
        }

        img {
            position: absolute;
            width: 30px;
            bottom: 10px;
            right: 0;
        }
    }
}

main {
    max-width: $bp-large;
    margin: 0 auto;
    padding-top: 115px;

    section {
        margin: $gutter 0;
        float: left;
        width: 100%;
    }
}